@import '../../common/vars.scss';
.contactDetails {
  margin-top: 30px;

  h3 {
    margin-top: 30px;
  }
}
iframe {
  margin-top: 30px;
  pointer-events: none;
}

button {
    font-family: 'Lato', sans-serif;
    transition: all 0.5s ease;
    background: $primaryColour;
    font-size: 12px;
    padding: 10px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }