@import '../../common/vars.scss';
#featured-links {
  background: $lightgray;
  padding: 30px 0 30px 0;
  margin-bottom: 60px;
  .featured-content {
    padding-left: 50px;
    text-align: center;

    .icon {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      background-size: 40px;
      display: block;
      background-repeat: no-repeat;
      &.icon-about {
        background-image: url('./information.svg');
      }
      &.icon-contact {
        background-image: url('./telephone.svg');
      }
      &.icon-listing {
        background-image: url('./house-contract.svg');
      }
    }

    h2 {
      color: $secondaryColour;
      margin: 0;
      padding: 0;
      margin-bottom: 15px;
    }

    p {
      color: #373e3e;
      font-size: 16px;
    }
  }
}