@import '../../common/vars.scss';
.property-details {
  text-align: justify;

  .mainImg {
    overflow-y: hidden;
    height: 500px;
    margin-bottom: 50px;
      img {
        max-width: 100%;
        border: 5px solid $lightgray;
      }
  }

  .showcase-img {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 85px;
     img {
      max-width: 100%;
      border: 2px solid #f0f0ef;
    }
  }

  h1.title {
    font-size: 24px;
  }

  table {
    width: 100%;
    margin-bottom: 30px;

    td {
      width: 50%;
      padding: 5px 10px 5px 10px;
    }

    tr:nth-child(even) {
      background: $lightgray;
    }
  }

  .side-panel {
    background: $lightgray;
    padding: 15px;
    border: 1px solid #cccccc;

      button {
      font-family: 'Lato', sans-serif;
      transition: all 0.5s ease;
      background: $primaryColour;
      font-size: 12px;
      padding: 10px;
      color: $white;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 1;
      border-radius: 5px;
      border: none;
      width: 100%;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .prop-desc {
    margin-top: 30px;
  }
}