@import '../../common/vars.scss';

.propertyCarousel {
  padding-bottom: 40px;
  .item {

      .contents {
        margin: 0 auto;
        width: 250px;
        padding: 10px;
        background: $lightgray;

        .feature-img {
          height: 165px;
          overflow-y: hidden;
        }

        button {
          width: 100%;
          background: $secondaryColour;
          border: solid 1px $white;
          color: $white;
        }

        p {
          padding: 15px 0 15px 0;
        }

        h3 {
          padding: 20px 0 15px 0;
          margin: 0;
        }

        img {
          margin: 0;
          padding: 0;
          width: 100%;
        }
      }
  }
  .icon {
    z-index: 999;
      width: 60px;
      cursor: pointer;
      height: 60px;
      margin: 0 auto;
      position: absolute;
      background-size: 40px;
      display: block;
      top: 45%;
      background-repeat: no-repeat;
    &.nextArrow {
      right: -35px;;
      background-image: url('./nextArrow.svg');
    }
    &.prevArrow {
      left: -15px;
      background-image: url('./prevArrow.svg');
    }
  }
}