@import '../../common/vars.scss';

.header {
  padding-top: 20px;
  background: #1b408a;
  .logo {
    a {
      text-decoration: none;
    }
    h1 {
      font-weight: normal;
      display: inline-block;
      text-decoration: none;
      font-size: 28px;
      color: $white;
      padding-top: 15px;
      margin-left: 10px;
      display: inline-block;

      span {
        font-size: 20px;
        font-weight: lighter;
      }
    }
  }
  .filler {
    width: 100%;
    position: absolute;
    height: 134px;
    background: $primaryColour;
    z-index: -1;
  }
}
