@import '../../common/vars.scss';

.sale-properties {
  margin-bottom: 15px;
  padding: 15px 0 15px 0;

  .row {
    margin-bottom: 30px;
    background: $lightgray;
    padding: 20px;
    border: 1px solid #cccccc;
  }

  .main-img {
    height: 252px;
    overflow-y: hidden;
      img {
        width: 100%;
      }
  }

  h2.price {
    font-size: 26px;
    margin-bottom: 10px;
  }

  h3.title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  button {
    font-family: 'Lato', sans-serif;
    transition: all 0.5s ease;
    background: $primaryColour;
    font-size: 12px;
    padding: 10px;
    float: right;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }
}