@import '../../common/vars.scss';

.footer {
  font-family: 'Lato', sans-serif;
  padding: 40px 0 40px 0;
  color: $white;
  background: $primaryColour;
  margin-top: 30px;

  h1 {
    padding: 0;
    margin: 0 0 30px 0;
    font-size: 20px;
  }

  ul.footer-nav {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 10px 0 10px 0;
      border-bottom: 1px solid $white;
      }
    }
  }
  a {
    text-decoration: none !important;
    color: $white !important;
    &:hover {
      color: $secondaryColour !important;
  }
}
