@import '../../common/vars.scss';

.search-component {
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
  position: absolute;
  bottom: -5px;
  background: rgba(55, 62, 62, 0.7);
  color: $white;
  width: 100%;
  height: 140px;

  &.no-carousel {
    position: relative;
    box-shadow: 0 8px 6px -6px black;
    border-top: solid 5px #3578ae;
  }

  .search-params {
    margin-top: 5px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  label {
    width: 100%;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }

  input#search, select {
    font-family: 'Lato', sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance:none;
    font-size: 12px;
    color: $white;
    padding: 5px;
    width: 100%;
    font-weight: normal;
    margin-top: 3px;
    background: transparent;
    border: 1px solid #878c8f;

    &::-webkit-input-placeholder {
      font-size: 12px;
      color: $lightgray;
      font-weight: normal;
    }

    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }

  input#search {
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-size: 15px;
    padding-left: 35px;
  }

  select {
    background-image: url(down-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: 137px 6px;
    background-size: 15px;
  }

  button {
    width: 100%;
    padding: 3px !important;
    color: $white;
    background: #373e3e;
    border: solid 1px $lightgray;
    outline-color: transparent;
    outline-style: none;
  }
}


