@import './common/vars.scss';

main {
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  &.home {
    margin-top: 0;
  }
   h1 {
    font-size: 24px;
    color: #1b408a;
    margin-top: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #f0f0ef;
    padding: 0 0 30px 0;
  } 
  h3 {
    color: $secondaryColour;
    font-size: 18px;
    font-weight: bold;
  }
  font-size: 14px;

  &.noBorderTop {
    margin-top: 0px;
  }
  .subtext {
    font-size: 12px;
  }

  input, textarea, select {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    &::-webkit-input-placeholder {
      font-size: 12px;
    }
    &::-moz-placeholder {
      font-size: 12px;
    }
    &:-ms-input-placeholder {
      font-size: 12px;
    }
  }
}